.v-button__icon {
    @media (hover: hover) {
        .v-button--enable-animation:hover & {
            animation: slideOut .2s, slideIn .4s .2s ease(out-quart);

            @media (prefers-reduced-motion: reduce) {
                animation: none;
            }
        }
    }
}

@keyframes slideOut {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-15px);
    }
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
