
@mixin margin-block() {
    margin-block: get-map-value($slice, 's', margin-block);

    @include media('>=md') {
        margin-block: get-map-value($slice, 'm', margin-block);
    }

}

@mixin slice-properties-with-media-query {
    @each $breakpoint, $value in $slice {
        @if $breakpoint == 0 {
            --grid-width: #{$value};
        }
        @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                --grid-width: #{$value};
            }
        }
    }
}
