$themes: (
    light: (
        default: color(light),
        button-background-hovered: rgba(color(light), 0.9),
        on-default: color(black),
    ),
    orange: (
        default: color(orange),
        button-background-hovered: rgba(color(orange), 0.9),
        on-default: color(light),
    ),
    dark: (
        default: color(black),
        button-background-hovered: rgba(color(black), 0.9),
        on-default: color(light),
    )
);

$default-theme: dark;
