$themes: (
    light: (
        foreground-color: color(black),
        background-color: color(white),
        button-filled-hover-background: rgba(color(light), 0.9),
    ),
    dark: (
        foreground-color: color(white),
        background-color: color(black),
        button-filled-hover-background: rgba(color(black), 0.9),
    )
);

$default-theme: dark;
